<!DOCTYPE html>
{% extends 'whichsandwich/create_sandwich.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
<div class="container">
<div class="row">
    <h1 class="my-4">About Which Sandwich</h1>
	<div class="d-flex justify-content between">
		<p>Which Sandwich is a website for designing, sharing and rating sandwiches.
Users can list create sandwiches using an expandable list of ingredients.
A picture of their sandwich would be uploaded.
Users can vote on other's sandwiches usling a like system, as well as add sandwiches to their favourites.
Visitors can see a ranking of the top, latest and most controversial sandwiches.
The goal is to help people keep in touch with the latest sandwich trends, while developing their creativity. It can be a valuable tool for small business owners to gauge their market. 
It could also come in handy to please your family and friends with awesome custom made sandwiches.
        </p>
	</div>
	
	
	<div class="col-md-6">
		<h3 class="my-2">Technologies used:</h3>
		<ul>
			<li>Django</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Bootstrap</li>
			<li>JavaScript</li>
			<li>AJAX</li>
			<li>JQuery</li>
			<li>Python Anywhere</li>
		</ul>
	</div>
	
	<div>
		<h3 class="my-2">Created by:</h3>
		<ul>
			<li>Gordon Wells</li>
			<li>Quentin Deligny</li>
			<li>Matthew Smith</li>
		</ul>
	</div>
</div>
</div>
{% endblock %}	