<div class="modal fade" id="sandwichModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sandwich-modal-title">{{ sandwich.name }}</h5>  
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              {% if sandwich %}
              <a href="{% url 'show_sandwich' sandwich.slug %}">
                {% endif %}
                <img class="img-fluid img-thumbnail" src="{{ sandwich.image.url }}" alt="{{ sandwich.name }}" />
                {% if sandwich %}
              </a>
              {% endif %}
            </div>
            <div class="col-lg-4">
              <div class="container">
                <div class="row border-bottom py-2">
                  <div class="col">
                    <div>Made by <strong>{{ sandwich.creator }}</strong></div>
                  </div>
                </div>
                <div class="row border-bottom py-2">
                  <div class="col">
                    <div class="p-1">Ingredients:</div>
                    <ul class="mb-0">
                      {% for ingredient in sandwich.ingredients.all %}
                      <li>{{ ingredient }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="row border-bottom py-2">
                  <div class="col">
                    <div>Likes: {{ sandwich.likes }}
                    <br/> 
                    Dislikes: {{ sandwich.dislikes }}
                    </div>
                  </div>
                </div>

                <div class="row py-2">
                  <div class="col">
                    {% if comment %}
                    {{ comment.user }} says:
                    <div class="bg-light p-2">{{ comment.comment }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container">
          <div class="row">
            {% if sandwich %}
            <div class="col-sm-3 col-md-6 float-right pt-2">
              <a href="{% url 'show_sandwich' sandwich.slug %}">Check out this sandwich's page for comments</a>
            </div>
            {% endif %}
            <div class="col-md-6">
              <button class="btn btn-secondary float-right" type="button" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
