<!DOCTYPE html>
{% extends 'whichsandwich/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account
{% endblock %}

{% block body_block %}
{% include 'whichsandwich/modal.html' %}

<div class="row" id="sandwich_display">
  <div class="col-md-6 border-left border-right">
    {% if best_sandwiches %}
    <h3 class="my-4">My Best Received Sandwiches</h3>
    {% include 'whichsandwich/sandwich_column.html' with sandwiches=best_sandwiches %}
    {% else %}
    <strong>You have no rated sandwiches.</strong>
    {% endif %}
  </div>

  <div class="col-md-6 border-right">
    {% if top_favourites %}
    <h3 class="my-4">My Top Favourites</h3>
    {% include 'whichsandwich/sandwich_column.html' with sandwiches=top_favourites %}
    {% else %}
    <strong>You have no favourites.</strong>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block script_block %}
<script src="{% static 'js/modal.js' %}""></script>
{% endblock %}
