body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.ingredients-container {
  overflow: auto;
  height: 300px;
}

.hidden {
  display: none;
}

#available-ingredients, #used-ingredients {
  height: 100%;
}

.image-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin: 0.5em;
  padding: 0.2em;
  width:70%;
}
